<div class="container">
  <div class="row">
    <div class="col l8 offset-l2">
      <ul>
        <% @posts.each do |post| %>
          <li><%= post.title %> - <a href="/posts/<%= post.id %>">View</a> | <a href="/posts/<%= post.id %>/edit">EDIT</a> | <form action="/posts/<%= post.id %>" method="post" style="display: inline"><input type="hidden" name="_method" value="delete"/><input type="submit" value="DELETE"/></form></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
