<h1>New Item</h2>

<form action="/items" name="items" method="post">
  <input type="text" name="items[name]" id="item-name"><br>
  <input type="text" name="items[status]"  id="item-status"><br>
  <input type="submit"  id="item-submit"/>
</form>
